<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OnePali</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.72813689825-3uvkvar5timqdl5bce2gkenpgrfs2g60</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onepali</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>One Pali Payment Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onepalideeplink</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>OnePali requires camera access.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs access to save images/videos to share on Instagram Story</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>OnePali requires access to your photo library to let you select and upload a profile
			image or save donation receipts.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses analytics to improve user experience</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>KodeMono-Medium.ttf</string>
		<string>KodeMono-Regular.ttf</string>
		<string>KodeMono-SemiBold.ttf</string>
		<string>KodeMono-Bold.ttf</string>
		<string>Gabarito-Black.ttf</string>
		<string>Gabarito-Bold.ttf</string>
		<string>Gabarito-ExtraBold.ttf</string>
		<string>Gabarito-SemiBold.ttf</string>
		<string>Gabarito-Medium.ttf</string>
		<string>Gabarito-Regular.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-RegularItalic.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>NeueMontreal-Bold.otf</string>
		<string>NeueMontreal-BoldItalic.otf</string>
		<string>NeueMontreal-Italic.otf</string>
		<string>NeueMontreal-Light.otf</string>
		<string>NeueMontreal-LightItalic.otf</string>
		<string>NeueMontreal-Medium.otf</string>
		<string>NeueMontreal-MediumItalic.otf</string>
		<string>NeueMontreal-Regular.otf</string>
		<string>SourceSans3-Black.ttf</string>
		<string>SourceSans3-BlackItalic.ttf</string>
		<string>SourceSans3-Bold.ttf</string>
		<string>SourceSans3-BoldItalic.ttf</string>
		<string>SourceSans3-ExtraBold.ttf</string>
		<string>SourceSans3-ExtraBoldItalic.ttf</string>
		<string>SourceSans3-ExtraLight.ttf</string>
		<string>SourceSans3-ExtraLightItalic.ttf</string>
		<string>SourceSans3-Italic.ttf</string>
		<string>SourceSans3-Light.ttf</string>
		<string>SourceSans3-LightItalic.ttf</string>
		<string>SourceSans3-Medium.ttf</string>
		<string>SourceSans3-MediumItalic.ttf</string>
		<string>SourceSans3-Regular.ttf</string>
		<string>SourceSans3-SemiBold.ttf</string>
		<string>SourceSans3-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
